{% extends 'layouts/main.html' %} {% block title %}Reserved Pages{% endblock %} {% block content %}
<form action="/free_demo" > 
<div class="page-header">
    <h1>Reserved Demos are shown here</h1>
</div>


<div class="datagrid">
    <table border="1" width="300px" class="datagrid">
        <tr>
            <td class="column-grid" style="color: #FFFFFF;">Demo Name :</td>
            <td>
                <select>
								  <option id="reserved_select_a_demo" >Select a Demo</option>
								  {% for demo in  reserve_details %}
								  <option value={{demo.demo_name}} name={{demo.demo_name }}>{{demo.demo_name}}</option>
								  {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="column-grid" style="color: #FFFFFF;">Description
            </td>
            <td>
                <textarea rows="4" cols="50">This will be populated
                </textarea>
            </td>
        </tr>
        <tr>
            <td class="column-grid" style="color: #FFFFFF;">
                Device Details
            </td>
            <td>
                <textarea rows="4" cols="50">this would show
                    <IP :PORT>details
                </textarea>
            </td>
            <tr>
                <td class="column-grid" style="color: #FFFFFF;">
                    Do you want to free the Reservation ? Check yes and click submit
                </td>
                <td>
                    <input type="checkbox" name="lab_reserve_status" value="Yes">Yes
                </td>
            </tr>
        </tr>
    </table>
</div>
<div>
    <table>
        <tr>
            <td>
                <button type="submit">Submit!</button>
            </td>
            <td>
                <button type="submit">Cancel!</button>
            </td>

        </tr>
    </table>
</div>
<script type="text/javascript">
function sample() {
    alert("hi");
}
</script>
</form>
{% endblock %}
